.clients{
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  &__desc{
    max-width: 330px;
    padding-top: 75px;
    margin-right: 9.55%;
    p{
      line-height: 26px;
      margin: 22px 0 16px;
    }
    a{
      font-family: 'Archivo Black', sans-serif;
      font-size: 12px;
      line-height: 26px;
      letter-spacing: 0.428571px;
      text-transform: uppercase;
      color: #D2132A;
      text-decoration: none;
    }
  }
  &__grid{
    position: relative;
    flex-grow: 1;
    max-width: 648px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    &>img{
      position: absolute;
    }
  }

  &__col{
    width: 30.2%;
    &:nth-of-type(2n){
      margin: 0 auto;
      padding-top: 60px;
    }
  }
  &__card{
    display: block;
    &:nth-of-type(n+2){
      margin-top: 47px;
    }
    p{
      margin-top: 12px;
    }
  }
  &__youtube{
    top: 330px;
    right: 0;
    transform: translateX(50%);
  }
  &__donut{
    top: 0;
    right: 82%;
    transform: translateY(-30%);
  }
  &__ball{
    bottom: 40px;
    left: 0;
    transform: translateX(-65%);
  }
}