.first-screen{
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-size: cover;
  position: relative;
  &*{
    pointer-events: none;
  }
  background: radial-gradient(55.53% 33.64% at 50% 50%, rgba(255, 125, 150, 0.287806) 0%, rgba(245, 64, 137, 4e-05) 100%);
  &__cursor{
    position: absolute;
    width: 50%;
    padding-top: 50%;
    min-width: 100px;
    min-height: 100px;
    background-image: radial-gradient(50% 50% at 50% 50%, rgba(255, 125, 150, 0.287806) 0%, rgba(245, 64, 137, 4e-05) 100%);
    background-size: cover;
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 2;
    &.active{
      opacity: 1;
    }
  }
  &__title{
    position: relative;
    font-size: 170px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 400;
    transform-style: preserve-3d;
    margin-top: -9.3%;
  }
  &__text{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    color: #F9A608;
    font-family: 'Archivo', sans-serif;
    font-weight: 800;
  }
  &__lettering{
    position: absolute;
    top: 24%;
    left: 52.3%;
    width: 73%;
    transform: translateX(-50%) translateZ(50px);
  }

  &__canvas{
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
  }
  & > img{
    position: absolute;
    z-index: 0;
  }
  &__camera{
    left: 0.2%;
    bottom: 8.9%;
    animation: anim1 8s infinite;
  }
  &__torus{
    bottom: 11.43%;
    right: 3.71%;
    width: 13.1%;
    animation: anim1 8s infinite;
  }
  &__youtube{
    right: 12.564%;
    top: 24px;
    animation: anim1 6s infinite;
  }
  &__claqueta{
    right: 5%;
    bottom: 24.25%;
    width: 20%;
    animation: anim1 9s infinite;
    animation-delay: 0.5s;
  }
  & &__headphone{
    top: 12.8%;
    left: 10.6%;
    z-index: 2;
    width: 14.078%;
    animation: anim1 7s infinite;
    animation-delay: 1s;
  }
  &__note{
    left: 21%;
    bottom: 6.6%;
    width: 8.539%;
    animation: anim1 8s infinite;
  }
  &__heart{
    bottom: 16%;
    right: 30%;
    width: 8.307%;
    animation: anim1 8s infinite;
    animation-delay: 0.5s;
  }
  &__torus-2{
    right: 40%;
    top: 14%;
    width: 10.15%;
    animation: anim1 8s infinite;
  }
  &__spot{
    right: 2%;
    top: 41%;
    animation: anim1 4s infinite;
  }
  &__spot-small{
    left: 6.5%;
    top: 24%;
    animation: anim1 4s infinite;

  }
}