.footer{
  background-color: #170119;
  &__contactUs{
    width: 100%;
    font-size: 32px;
    line-height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    height: 160px;
    transition: 0.3s;
    &:hover{
      background-color: $mainRed;
    }
    span{
      width:  55px;
      height: 55px;
      display: block;
    }
  }
  &__info{
    font-weight: bold;
    font-size: 12px;
    line-height: 26px;
    padding: 12px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: #fff;
  }
}