.menu{
  &__icon{
    width: 54px;
    height: 54px;
    padding: 18px;
    display: block;
    border-radius: 50%;
    @extend %cursorPointer;
    img{
      width: 100%;
      height: 100%;
    }
  }
}
.section--light .menu{
  &__icon{
    background-color: #fff;
    margin-left: 20px;
  }
}