*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  line-height: 1;
  font-size: 16px;
  font-family: 'Archivo',sans-serif;
  font-weight: 400;
  cursor: url('#{$imgPath}/cursor.png') 8 8, auto;
  color: #383030;
}
svg{
  width: 100%;
  height: 100%;
  fill: currentColor;
}
a{
  @extend %cursorPointer;
}
.d-none{
  display: none;
}
.page{
  //overflow-x: hidden;

}
.link{
  font-family: 'Archivo Black', sans-serif;
  font-size: 12px;
  line-height: 2.16;
  letter-spacing: 0.428571px;
  text-transform: uppercase;
  color: $mainRed;
  text-decoration: none;
}
.block {
  width: 100%;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  display: block;
  max-width: 86px;
}
.tilter{
  display: block;
  perspective: 1000px;
  &__figure{
    margin: 0;
    display: block;
  }
}
.sticky-el__end{
  bottom: 0;
  width: 100%;
  height: 40px;
}
.slider-btn{
  display: block;
  border: none;
  background-color: transparent;
  font-weight: 800;
  font-size: 12px;
  line-height: 13px;
  text-transform: uppercase;
  width:76px;
  height: 76px;
  border-radius: 50%;
  transition: 0.3s;
  outline: none;
}
.swiper-slide{
  display: flex;
}
@media all and(min-width: 1100px){
  .slider-btn{
    @include cursorPointer;
    &:hover{
      background-color: $mainRed;
      color: #fff;
    }
  }
}