*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  line-height: 1;
  font-size: 16px;
  font-family: 'Archivo',sans-serif;
  font-weight: 400;
  cursor: url('#{$imgPath}/cursor.png') 8 8, auto;
  color: #383030;
}
svg{
  width: 100%;
  height: 100%;
}
a{
  @extend %cursorPointer;

}
.link{
  font-family: 'Archivo Black', sans-serif;
  font-size: 12px;
  line-height: 2.16;
  letter-spacing: 0.428571px;
  text-transform: uppercase;
  color: #D2132A;
  text-decoration: none;
}
.block{
  width: 100%;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &:after{
    content: '';
    display: block;
    background-color: dodgerblue;
    width: 40px;
    height: 30px;
  }
  &--1{
    background-color: black;
  }
  &--2{
    background-color: green;
  }
  &--3{
    background-color: yellowgreen;
  }
}
.logo{
  display: block;
  max-width: 86px;
}
.tilter{
  display: block;
  perspective: 1000px;
  &__figure{
    margin: 0;
    display: block;
  }
}
.sticky-el__end{
  bottom: 0;
  width: 100%;
  height: 40px;
}